*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f8f2e8;

overflow-x:hidden;

}

header{

position:absolute;

width:100%;

top:0;

left:0;

padding:25px 80px;

z-index:100;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo img{

width:190px;

}

.navbar ul{

display:flex;

gap:40px;

list-style:none;

}

.navbar ul li a{

text-decoration:none;

color:#143b2e;

font-weight:600;

font-size:15px;

}

.order{

background:#123d2d;

padding:14px 28px;

border-radius:40px;

text-decoration:none;

color:white;

font-weight:600;

}

.hero{

height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:120px 80px;

background:url(images/hero-bg.png);

background-size:cover;

background-position:center;

}

.left{

width:50%;

}

.left h4{

font-size:18px;

color:#355d3b;

margin-bottom:20px;

}

.left h1{

font-size:85px;

font-weight:800;

line-height:95px;

color:#143b2e;

}

.left h1 span{

color:#d86012;

display:block;

}

.left p{

margin-top:25px;

font-size:20px;

line-height:35px;

width:500px;

color:#333;

}

.btn{

display:inline-block;

margin-top:35px;

padding:18px 40px;

background:#143b2e;

color:white;

text-decoration:none;

border-radius:50px;

font-weight:bold;

}

.icons{

display:flex;

margin-top:60px;

gap:40px;

}

.icons div{

text-align:center;

}

.icons i{

font-size:34px;

color:#143b2e;

margin-bottom:10px;

}

.icons p{

font-size:15px;

font-weight:600;

}

.right{

width:45%;

display:flex;

justify-content:center;

}

.right img{

width:650px;

}